/* ------------------------------------------------------------
	Color Variables
------------------------------------------------------------ */
:root{
	--root: #e74c3c;
	--levelone: #3498db;
	--leveltwo: #2ecc71;
	--levelthree: #e67e22;
	--levelfour: #9b59b6;
	--secondary: var(--levelone);
	--bodybackground: #f9fafc;
	--textColor: #333;
	--h2Color: #777777;
	--shadowColor: rgba(106,113,127,0.2);
	--lightBorderColor: #eee;
	--darkBorderColor: #95a5a6;
}


/* ------------------------------------------------------------
	Reset Styles (from meyerweb.com)
------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: var(--bodybackground);
	color: var(--textColor);
	font-family: "proxima-nova", sans-serif;
	font-size: 12px;
	line-height: 1;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 5px 0;
}

h2 {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
	color: var(--h2Color);
}

a {
	text-decoration: none;
	white-space: nowrap;
}

button {
	margin-right: 5px
}


ol, ul {
	list-style: none;
}


/* ------------------------------------------------------------
	Sitemap Styles
------------------------------------------------------------ */

.sitemap {
	display: inline-block;
	width: 100%;
	height:100%;
	padding: 40px;	
}

.sitemap div{
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.sitemap div h1 {
	margin: 0;
	padding: 0.2rem;
}

li{
	content: attr(id);
}

li a,
li a.multi:after {
    position: relative;
	display: block;
	margin: 0;
	padding: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	white-space: normal;
	color: var(--textColor);
	background-color: white;
	border: 1px solid var(--lightBorderColor);
	border-top: 4px solid var(--darkBorderColor);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    z-index: 1;
}

li a {
	-webkit-box-shadow: 1px 1px 2px var(--shadowColor);
    -moz-box-shadow: 1px 1px 2px var(--shadowColor);
    box-shadow: 1px 1px 2px var(--shadowColor); 
}

li a.multi:after {
	content: " ";
	position: absolute;
	left: 6px;
	top: 6px;
	width: 100%;
	height: 100%;
	border-width: 2px;
	border-color: #eee;
	border-top-width: 0 !important;
	border-left-width: 0 !important;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	z-index: -1;
}

li a:before {	
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	word-wrap: break-word;
	color: #95a5a6;
}

li a small {
	display: block;
	font-weight: normal;
	font-size: 12px;
	margin-top: 10px;
}

.sitemap .fa {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 16px;
	vertical-align: middle;
}


/* --- Root --- */
ul, li {
	position: relative;
	display: inline-block;
}

.primary ul li:before,
.primary ul li:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-color: var(--darkBorderColor);
	border-width: 1px;
	z-index: 0;
}

.primary ul li a { border-top-color: var(--root); width: auto; }
.primary ul li a:before, .primary ul li .fa { color: var(--root); }

/* --- Level 1 --- */
.primary ul ul {
	white-space: nowrap;
}

.primary ul ul li {
	position: relative;
	vertical-align: top;
	padding-top: 20px;
	margin-right: 20px;
	white-space: normal;
	width: 100%;
}

.primary ul ul li:last-child {
	padding-right: 0;
}

.primary ul ul li:before {
	border-top-style: solid;
	width: 30px;
	top: 50px;
	margin: 0 0 0 -30px;
}

.primary ul ul li:first-child:before {
	border-top-style: none;
	border-left-style: solid;
	width: 0;
	height: 30px;
	top: 0;
	left: 45px;
	margin: 0 0 0 -30px;
}

.primary ul ul li a { border-top-color: var(--levelone); width: auto; }
.primary ul ul li a:before, .primary ul ul li .fa { color: var(--levelone); }

/* --- Level 2 --- */
.primary ul ul ul {
	display: block;
	white-space: normal;
}

.primary ul ul ul li {
	display: block;
	position: relative;
	width: 100%;
	padding-left: 30px;
	margin-right: 0;
}

.primary ul ul ul li:before,
.primary ul ul ul li:first-child:before  {
	border-top-style: none;
	border-left-style: solid;
	height: 100%;
	top: 0;
	left: 45px;
}

.primary ul ul ul li:last-child:before  {
	height: 50px;
}

.primary ul ul ul li:after  {
	border-top-style: solid;
	top: 50px;
	left: 15px;
	width: 15px;
}

.primary ul ul ul li a { border-top-color: var(--leveltwo); width: auto; }
.primary ul ul ul li a:before, .primary ul ul ul li .fa { color: var(--leveltwo); }

/* --- Level 3 --- */
.primary ul ul ul ul li a { border-top-color: var(--levelthree); }
.primary ul ul ul ul li a:before, .primary ul ul ul ul li .fa { color: var(--levelthree); }

/* --- Level 4 --- */
.primary ul ul ul ul ul li a { border-top-color: var(--levelfour); }
.primary ul ul ul ul ul li a:before, .primary ul ul ul ul ul li .fa { color: var(--levelfour); }

/* --- Secondary --- */
.secondary {
	display: inline-block;
	margin-top: 20px;
	padding-top: 20px;
	border-top: dotted 2px var(--darkBorderColor);
	overflow-x: scroll;
	max-width: 100%;
}

.secondary ul {
	white-space: nowrap;
}

.secondary ul li {
	display: inline-block;
	white-space: normal;
	padding: 0 20px 0 0;
	margin-bottom: 10px;
}

.secondary ul li a { border-top-color: var(--secondary)}

.secondary ul li:before,
.secondary ul li:after {
	display: none;
}

.secondary ul li:last-child {
	padding: 0;
}

/* --- Widths --- */
.primary > ul > li > a,
.primary > ul > li > ul > li,
.secondary li a {
	width: fit-content;
}


/* Lang Switch */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--levelthree);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--textColor);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--root);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--root);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

ol a{
	font-weight: initial;
	white-space: nowrap;
	border: none;
	padding: 0;
	box-shadow: none;
	line-height: auto;
}

ol a:hover{
	color: var(--levelone)
}

ol{
	border-top: 1px solid var(--h2Color);
	padding-top: 0.5em;
	margin: 1em 0 0 1em;;
}

ol button{
	border: none;
	padding: 1em 0 0 0;
	background-color: var(--white);
}

button:hover{
	cursor:pointer;
}

.heading{
	display: flex;
	flex-direction: row;
}

.heading div{
	display: flex;
	flex-direction: column;
}

.heading div div{
	display: flex;
	flex-direction: row;
}
.heading div div > *{
	Width: 5em;
}
.heading div div h1:nth-child(1){
	text-align: right;
}

.checkboxes{
	margin-left: 5em;
}

.checkboxes div{
	margin-bottom: 1em;
}
